/test.py
/classes
01/alice_3G.txt
01/coverage_report.txt
01/.coverage
01/__pycache__
02/count_calls_class.py
02/__pycache__
02/.coverage
03/__pycache__
03/.coverage
04/.coverage
04/__pycache__
05/.coverage
05/__pycache__
06/.coverage
06/__pycache__
06/urls.txt
07/.coverage
07/__pycache__
07/test_async_fetcher.py